:root {
	--color-primary: #6467e5;
	--color-primary-light-1: #bbc3da;
	--color-primary-light-2: #9ca6cf;
	--color-primary-dark: #5767c0;

	--color-secondary: #ffae47;

	//font-Colors
	--color-white: #f0f1f7;
	--color-grey-dark-1: #889197;
	--color-grey-dark-2: #a2a0af;
	// --color-grey-darkest: #292c32;
	--color-grey-darkest: #3a425a;

	//font-family
	--font-primary: "Roboto", sans-serif;
	--font-display: "Open Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: var(--font-primary);
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-grey-dark-1);
}
.container {
	width: 100%;
	background-color: #fff;
	display: grid;
	grid-template-columns: 26% 74%;
	min-height: calc(100vh - 2 * 4vw);

	& > * {
		min-height: 110rem;
	}
}

.left {
	background: var(--color-primary-light-2);
	padding: 6rem 0 6rem 8rem;

	.navigation {
		background-color: var(--color-primary);
		height: 100%;
		border-radius: 1.5rem 0 0 1.5rem;
		box-shadow: 0 2rem 6rem 0.2rem rgba($color: #000000, $alpha: 0.15);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.right {
	background-color: var(--color-primary-light-1);
	padding: 6rem 8rem 6rem 0;

	.main {
		height: 100%;
		background-color: #fff;
		border-radius: 0 1.5rem 1.5rem 0;
		padding: 3rem;
		display: flex;
		flex-direction: column;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

@keyframes ldio-nvbdm15blb {
	0% {
		top: 96px;
		left: 96px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 66px;
		left: 66px;
		width: 60px;
		height: 60px;
		opacity: 0;
	}
}
.ldio-nvbdm15blb div {
	position: absolute;
	border-width: 4px;
	border-style: solid;
	opacity: 1;
	border-radius: 50%;
	animation: ldio-nvbdm15blb 1.7543859649122806s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-nvbdm15blb div:nth-child(1) {
	border-color: #6467e5;
	animation-delay: 0s;
}
.ldio-nvbdm15blb div:nth-child(2) {
	border-color: #6467e5;
	animation-delay: -0.8771929824561403s;
}
.loadingio-spinner-ripple-6rno6gsyx56 {
	align-self: center;
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: transparent;
}
.ldio-nvbdm15blb {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-nvbdm15blb div {
	box-sizing: content-box;
}
