.tooltip {
	height: 8rem;
	width: 12rem;
	background-color: var(--color-white);
	box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.2);
	border-radius: 1rem;
	padding: 0.5rem;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	transform: translate(-50%, 0);
	transition: all 0.1s ease;
	color: var(--color-primary);

	//   &__list{
	//
	//   }
}
