.weather-forecast {
	width: 100%;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.forecast {
	padding: 1.2rem 0.5rem;
	background-color: #fff;
	text-align: center;
	font-size: 1.6rem;
	border-radius: 1.5rem;
	border: 1px solid var(--color-white);
	width: 6.5rem;
	margin: 3rem 0;

	&__icon {
		width: 2.2rem;
		height: 2.2rem;
	}

	&__day {
		color: var(--color-grey-dark-1);
		font-size: 1.2rem;
	}
}

.forecast--today {
	border-color: var(--color-primary);
}
